
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Poppins&family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Poppins&family=Rubik&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Poppins&family=Rubik&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Poppins&family=Roboto&family=Rubik&display=swap');



*{
    margin: 0px;
    padding: 0px;

}

.header1{
    display: flex;
    align-items: center;
    justify-content: center;

}


.navBar{
    width: 1240px;
    height: 36px;
    flex-shrink: 0;
    position: relative;
    top: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.navleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    
}

.navleft img{
    display: flex;
}

.navleft p{
    display: flex;
    color: #FF5151;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.navmid{
    display: flex;
}


.navmid ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.navmid li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navright{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}
.navright img{
    display: flex;
    justify-content: space-between;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    flex-wrap: wrap;
}

.herocont1{
    
    display: flex;
    width: 1340px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 20px;
background: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
    justify-content: space-between;
    flex-wrap: wrap;
}
.hcl{
    position: relative;
    top:100px ;
    flex-wrap: wrap;
    height: 400px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
    justify-content: space-between;
}
.hcl1{
    display: flex;
        width: 477px;
    height: 209px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;

}
.hcl2{
    position: relative;

    display:flex;
    flex-direction: column;

}



.hcl h4{
    color: #000;
    font-family:Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}
.hcl h1{
    color: #000;
    top: 20px;
    font-family: Aclonica;
    font-size: 114px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hcl h2{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hcl button{
    color: white;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 156.25% */
    width: 210px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
}


.hcr{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
}
.hcrfr{
    display: flex;
    position: absolute;
    z-index: 2;
    right: 100px;
}
.hcrbg{
    position: relative;
    display:flex;
    z-index: 1;
}

.collections{
    top: 100px;
    position: relative;
    height: 1000px;
    width: 1515px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.upcoll{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 1300px;
    align-items: center;
    justify-content: space-around;
}


.colc1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}
.colc2{
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 1000;
    line-height: 25px; /* 104.167% */
}
.colc3{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.colc3 button{
    
    color: #4F5665;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 156.25% */
    width: 130px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
    border: none;

}
.colc3 button:hover{
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);

    color: white;
}
.colc4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
    height: 50%;


}

.cardcolc{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 429.162px;
    flex-shrink: 0;
    border-radius: 25px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
    
}

.cardcolcleft{
    display:flex

}
.cardcolcright{
    display: flex;
    align-items: center;
}

.cardcolc h3{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cardcolc button{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardcolcimg{

    background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
    border-radius: 25px 25px 0px 0px ;
}
.collfly{
    position: absolute;
    top: 20px;
    left: 20px;

}
.latest{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.latest h3{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}
.latest h1{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; 
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide the container into two equal columns */
    gap: 10px; /* Set the gap between items */
  }
  
  .left-images {
    display: grid;
    grid-template-rows: 1fr 1fr; /* Divide the left container into two equal rows */
    gap: 10px; /* Set the gap between images */
  }
  
  .left-images img {
    width: 100%; /* Set the width of left images to fill the available space */
    height: 100%; /* Set the height of left images to fill the available space */
    object-fit: cover; /* Preserve aspect ratio and cover the entire area */
  }
  
  .right-image img {
    width: 100%; /* Set the width of the right image to fill the available space */
    height: 100%; /* Set the height of the right image to fill the available space */
    object-fit: cover; /* Preserve aspect ratio and cover the entire area */
  }
  

  .image-container:hover{
    transform: scale(2);
  }